# TMDB API Configuration
NEXT_PUBLIC_TMDB_BASE_URL=https://api.themoviedb.org/3
NEXT_PUBLIC_TMDB_TOKEN=your_tmdb_read_token_here
NEXT_PUBLIC_TMDB_API_KEY=your_tmdb_api_key_here

# Jackett API Configuration
NEXT_PUBLIC_JACKETT_API_URL=https://jackett.youplex.site
NEXT_PUBLIC_JACKETT_API_KEY=your_jackett_api_key_here
NEXT_PUBLIC_JACKETT_INDEXER=all

# App Settings
NEXT_PUBLIC_SERVER_URL=
APP_NAME=TorrentsApp
